* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-forms {
  display: flex;
  gap: 130px;
}

.header-content {
  display: flex;
  width: 100%;
  background: #6d91dc;
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 52px;
}

.header-content a {
  display: block;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 26px;
  justify-content: space-around;
}

.cart-container p,
.submit-button {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cart-container button {
  background-color: #6d91dc;
  border: 0;
}

.card {
  position: relative;
}

.card p {
  background: #6d91dc;
  width: 5px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 16px;
  left: 17px;
  color: #f8fdfe;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
}

.nav-menu {
  display: flex;
  width: 100%;
  padding: 4px 52px;
  background: #fff;
}

.menu-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-list a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: default;
  white-space: nowrap;
}

.nav-menu-right {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.main-container {
  width: 100%;
  background: #eeeeef;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  padding-bottom: 121px;
}

.main-title {
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding: 32px 0 23px;
  white-space: nowrap;
  border-bottom: 1px solid #a8a8a8;
  margin: 0 52px;
}

.contact-details-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 420px;
  background: #eeeeef;
  margin: 56px 0 0 162px;
  gap: 32px;
}

.title-contact-details,
.title-delivery,
.title-comment-order,
.title-confirm-order,
.title-payment-method,
.title-your-order,
.total-price-block h2 {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.input-container,
.choice-confirm-order,
.choice-payment-method,
.order-details-info h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.delivery-block,
.comment-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container input,
.delivery-block textarea,
.comment-block textarea,
.select-date input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #8e8e8e;
  background: #f5f5f5;
  resize: none;
}

.input-container input::placeholder,
.delivery-block textarea::placeholder,
.comment-block textarea::placeholder,
.confirm-order-block p {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

textarea {
  width: 100%;
  height: 104px;
  resize: none;
}

.select-date label {
  padding: 2px 0;
}

.select-date label,
.choice-payment-method label,
.choice-confirm-order label,
.processing-data label,
.reset-button {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.select-date {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 19px;
}

.select-date input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8E8E8E;
  background: #f5f5f5;
  padding: 2px 8px;
  color: #1F1F1F;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.select-date input:disabled {
  color: #8E8E8E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  border-radius: 4px;
  border: 1px solid #8E8E8E;
}

.input-container input:focus,
.delivery-block textarea:focus,
.comment-block textarea:focus {
  border-radius: 4px;
  border: 1.5px solid #2080F6;
  background: #F5F5F5;
  box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
  outline: none;
}

.input-container input:disabled {
  border: 2px solid #BDBDBD;
  background: #FFF;
}

.confirm-order-block,
.payment-method-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.confirm-order-question {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.choice-confirm-order,
.choice-payment-method,
.processing-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.choice-confirm-order label,
.choice-payment-method label,
.processing-data label {
  display: block;
  margin-left: 16px;
  padding-left: 8px;
}

.choice-confirm-order input,
.choice-payment-method input,
.processing-data input {
  position: absolute;
  margin-left: -24px;
  width: 16px;
  height: 16px;
}

.order-form {
  display: flex;
  flex-direction: column;
  width: 526;
  height: 456px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background: #f5f5f5;
  border-radius: 4px;
  margin-top: 56px;
  margin-right: 162px;
}

.order-details-block {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.order-details-block p {
  line-height: 32px;
}

.total-price-block {
  display: flex;
  width: 446px;
  justify-content: space-between;
  border-top: 1px solid #a8a8a8;
  padding-top: 8px;
  margin: 10px 0px;
}

.total-price-block p {
  line-height: 27px;
}

.order-details-block p,
.total-price-block p {
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  align-items: center;
}

.order-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-details-info h3 {
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 3px;
  white-space: wrap;
}

.order-details-info p {
  margin-top: 3px;
  color: #8e8e8e;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.count-item-block {
  padding: 4px 8px;
  align-items: flex-start;
  display: flex;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #8e8e8e;
  margin-top: 8px;
}

.count-item-block span {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.order-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.submit-button,
.reset-button {
  display: flex;
  width: 215px;
  padding: 8px 24px;
  justify-content: center;
  border: 0;
}

.submit-button {
  border-radius: 4px;
  background: #3d76ba;
}

.reset-button {
  border-radius: 4px;
  background: #dedede;
}

.submit-button:hover {
  background: #63A1EB;
}

.reset-button:hover {
  background: #EEE;
}

.footer {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  background: #6d91dc;
  align-items: center;
}

.footer span {
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 52px;
}